.card {
  border: 1px solid black;
  width: 400px;
  max-height: 100%;
  background-color: white;
  border-radius: 10px;
}

.right-container {
  margin-left: 100px;
  padding-left: 190px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.card-body {
  margin-top: 16px;
}
/* .card-top > img {
  animation: rotation 2s infinite linear;
  transform: rotate(90deg);
} */
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
